* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 2vw;
}

menu li {
    margin: 0 3vw;
    font-size: 1.5vw;
    padding: 4px 8px;
    border-radius: 30px;

    &:hover {
        background-color: #cacaca;
    }
}

.menu {
    position: fixed;
    width: 100vw;
    height: 80px;
    z-index: 100;
    backdrop-filter: blur(4px) contrast(50%);
}

.section-one {
    background-image: url("../images/img-1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-color: grey;

    .title-container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;

        h1 {
            font-size: 5vw;
            padding: 2%;
            backdrop-filter: blur(8px);
            border-radius: 3vw;
            color: #fff;
        }
    }
}

.video-one {
    top: 0;
    z-index: 5;
}

.section-two {
    height: 100vh;
    width: 100vw;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    background-color: transparent;
}

.cont-one {
    a{
        color: white;
    }
}

.section-three {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: lightcyan;

    .title-container {
        padding: 50px 0;
        z-index: 50;
    }

    footer {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 0;
        background-color: #cacaca;
    }

    .links-container {
        font-size: 50px;
        padding: 50px 0;
    }
}

.navbar-toggler:hover {
    .menu-responsive {
        display:block;
    }
}

@keyframes scroll-down {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes scroll-up {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateX(-60px);
    }
}


#map {
    width: 50vw;
    height: 50%;
}
.menu-responsive {
    //margin-right: -100%;
    transition-duration: 1s;
    display: none;
    border-top: 1px solid;
    li {
        display: block;
        width: 100vw;
        text-align: center;
        background-color: #fafafa;
        border-bottom: 1px solid #bababa;

        &:hover {
            background-color: #efefef;
        }
    }
    
    a {
        text-decoration: none;
        color: black;
    }
}